body{
    background-image: linear-gradient( 90deg, #CE9FFC 10%, #7367F0 100%);
}

.spacing {
    margin-bottom: 5px;
    margin-top:  15px;
}

.info-content{
    border: 0px;
    box-shadow: 0 30px 60px -12px rgba(50,50,93,.25),0 18px 36px -18px rgba(0,0,0,.3);
}

.radius-top{
    border-radius: 7px 7px  0px 0px;
}

.radius-bottom{
    border-radius: 0px 0px 15px 15px;
}

.input-no-border{
    border: 0px;
    outline: none;
    font-weight: bold;
    font-size: 21px;
}

input{
    border-radius: 0px;
    box-shadow: 0 1px 0 rgba(33,33,33,.3);
    outline:none;
}

input:focus{
    border-radius: 0px;
    box-shadow: 0 1px 0 rgba(33,33,33,.3);
}

input:active{
    border-radius: 0px;
    box-shadow: 0 1px 0 rgba(33,33,33,.3);
}
